{% if site.weibo_user and site.weibo_tweet_count > 0 %}
<div id="banner" class="inner">
	<div class="container">
		<ul class="feed"></ul>
	</div>
	<small><a href="http://weibo.com/{{ site.weibo_user }}">{{ site.weibo_user }}</a> @ <a href="http://weibo.com">Weibo</a></small>
	<div class="loading">Loading...</div>
</div>
<script src="{{ root_url }}/javascripts/weibo.js"></script>
<script type="text/javascript">
	(function($){
		$('#banner').getWeiboFeed('{{ site.weibo_app_key }}', '{{ site.weibo_user_id }}', {{ site.weibo_tweet_count }});
	})(jQuery);
</script>
{% endif %}